section.cabecalho-archive {
  background: $cor-gray-900;
  height: 55px;
  margin-bottom: 90px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 130px;
  }
  .cabecalho {
    @include flex(flex, center, space-between, wrap, 10px);
    background-color: $cor-gray-800;
    border-radius: 8px;
    padding: 22px;
    position: absolute;
    width: calc(100% - 30px);
    margin-bottom: 48px;
    left: 0;
    right: 0;
    margin: auto;
    top: 25px;
    @media only screen and (max-width: 600px) {
      width: calc(100% - 26px);
    }
    .title-cabecalho {
      max-width: 75%;
      @media only screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        text-align: center;
      }
      h1 {
        color: $cor-red-300;
        @extend .section-font;
        text-transform: uppercase;
      }
    }
    @import "social-top";
  }
}
