.data-info {
  margin-top: 16px;
  line-height: 1;
  svg {
    display: inline;
    margin-right: 6px;
  }
  p {
    @extend .hat-font;
    display: inline;
    color: $cor-gray-900;
    time {
      margin-left: 6px;
    }
  }
}
