a[x-apple-data-detectors] {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html,
body {
  height: 100%;
  font-family: $fonte-principal;
  background-color: $cor-white;
}
main {
  padding-bottom: 80px;
  @media only screen and (max-width: 600px) {
    padding-bottom: 40px;
  }
}

input,
a,
button,
textarea {
  &:focus,
  &:active {
    outline: none;
  }
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: $tamanho-fonte-p;
}

h1 {
  font-size: $tamanho-h1;
}

h2 {
  font-size: $tamanho-h2;
}

h3 {
  font-size: $tamanho-h3;
}

h4 {
  font-size: $tamanho-h4;
}

h5 {
  font-size: $tamanho-h5;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

// Seções
::-webkit-input-placeholder,
select,
input {
  /* Edge */
  font-size: 1rem;
}

:-ms-input-placeholder,
select,
input {
  /* Internet Explorer 10-11 */
  font-size: 1rem;
}

::placeholder,
select,
input {
  font-size: 1rem;
}
