.post-item {
  @include flex(flex, center, flex-start, wrap, 16px);
  margin-bottom: 24px;
  &:hover {
    .thumb {
      img {
        border: 5px solid $cor-red-300;
      }
    }
  }
  .thumb {
    width: calc(40% - 12px);
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    img {
      height: auto;
      border-radius: 8px;
      border: 5px solid transparent;
      transition: all 0.3s ease-in-out;
      width: 100%;
      @media only screen and (max-width: 600px) {
        width: 100%;
        border: none;
      }
    }
  }
  .text {
    width: calc(60% - 12px);
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    h2 {
      @extend .feed-2-font;
      color: $cor-gray-900;
      @media only screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    @import "data-info";
  }
}
