.publi-container {
  background-color: $cor-gray-100;
  padding: 10px 13.5px 16px 13.5px;
  width: 100%;
  @media only screen and (max-width: 600px) {
    margin-bottom: 40px;
  }
  p {
    margin: 0 0 10px;
    font-family: $fonte-ubuntu;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 13.79px;
    font-weight: 400;
  }
  .publi-card {
    background-color: #d2d2d2;
    height: 600px;
    max-height: 100%;
    width: 100%;
  }
}

.publi-container-single {
  @extend .publi-container;
  @media only screen and (max-width: 600px) {
    margin-bottom: 40px;
  }
  .publi-card {
    height: 300px;
  }
}
