.single {
    .post-content {
        figure {
            margin-bottom: 32px;
            img {
                border-radius: 8px;
                width: 100%;
                height: auto;
            }
        }
        p {
            margin-bottom: 35px;
        }
    }
    p {
        font-family: $fonte-principal;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;
    }
    .cabecalho-single {
        margin: 64px 0;
        @media only screen and (max-width: 600px) {
            margin: 32px 0;
        }
        h1 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 40px;
            color: $cor-gray-900;
            margin-bottom: 16px;
        }
        p.resumo {
            font-family: $font-lato;
            font-size: 22px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: -0.005em;
        }
        .toolbar {
            @include flex(flex, center, space-between, wrap, 20px);
            padding: 16px;
            background-color: $cor-gray-300;
            margin-top: 24px;
            border-radius: 8px;
            @import "data-info";
            @import "social-top";
            @media only screen and (max-width: 600px) {
                gap: 16px;
            }
            .data-info {
                margin-top: 0;
                @media only screen and (max-width: 600px) {
                    margin-top: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
