.social-top {
  max-width: 50%;
  @include flex(inline-flex, flex-start, null, wrap, 16px);
  @media only screen and (max-width: 600px) {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  a {
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1, 1.1);
    }
    svg {
      fill: $cor-white;
    }
    &.btn-whatsapp-icon {
      color: $cor-white;
      font-family: $fonte-principal;
      font-size: 11px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      @include flex(inline-flex, flex-start, null, wrap, 6px);
      padding: 8px 9px;
      background-color: #25d366;
      border-radius: 8px;
    }

    &.btn-social-icon {
      height: 32px;
      width: 32px;
      @include flex(inline-flex, center, center, wrap, null);
      border-radius: 6px;
      &.telegram-icon {
        background-color: #30aae9;
      }
      &.facebook-icon {
        background-color: #4a68a8;
      }
      &.twitter-icon {
        background-color: #1da1f2;
      }
      svg {
        max-width: 24px;
        margin: auto;
      }
    }
  }
}
