@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// FONTES
$fonte-principal: "Open Sans", sans-serif;
$fonte-ubuntu: "Ubuntu", sans-serif;
$font-lato: "Lato", sans-serif;
$tamanho-fonte-p: 1rem;
$tamanho-h1: 3rem;
$tamanho-h2: 2.5rem;
$tamanho-h3: 2rem;
$tamanho-h4: 1.5rem;
$tamanho-h5: 1.2rem;
$font-w700: 700;

// CORES
$cor-link-hover: #68464a;
$cor-white: #fff;
$cor-black: #000;
$cor-black-20: #22222233;

$cor-gray-900: #222222;
$cor-gray-800: #333333;
$cor-gray-700: #707070;
$cor-gray-500: #a8a8a8;
$cor-gray-300: #e9e9e9;
$cor-gray-100: #fafafa;

$cor-red-900: #68181e;
$cor-red-700: #9a0000;
$cor-red-500: #ec1c24;
$cor-red-300: #ed686b;
$cor-red-100: #f6d0d1;

// Definir mixins
@mixin default-font($family, $weight, $size, $line) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

@mixin flex($display, $align, $justify, $wrap, $gap) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}

.section-font {
  @include default-font($fonte-principal, $font-w700, 28px, 34px);
}
.feed-1-font {
  @include default-font($fonte-principal, $font-w700, 26px, 30px);
}
.feed-2-font {
  @include default-font($fonte-principal, $font-w700, 20px, 24px);
}
.feed-3-font {
  @include default-font($fonte-principal, $font-w700, 16px, 22px);
}
.feed-4-font {
  @include default-font($fonte-principal, $font-w700, 14px, 19px);
}
.hat-font {
  @include default-font($fonte-principal, $font-w700, 12px, 16px);
}
