@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.section-font, section.cabecalho-archive .cabecalho .title-cabecalho h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.feed-1-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}

.feed-2-font, .post-item .text h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.feed-3-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.feed-4-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.hat-font, .single .cabecalho-single .toolbar .data-info p, .post-item .text .data-info p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

a[x-apple-data-detectors] {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

main {
  padding-bottom: 80px;
}
@media only screen and (max-width: 600px) {
  main {
    padding-bottom: 40px;
  }
}

input:focus, input:active,
a:focus,
a:active,
button:focus,
button:active,
textarea:focus,
textarea:active {
  outline: none;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

::-moz-placeholder {
  font-size: 1rem;
}

::placeholder,
select,
input {
  font-size: 1rem;
}

header {
  background-color: #000;
  padding: 16px 0;
}
header .logo {
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

section.cabecalho-archive {
  background: #222222;
  height: 55px;
  margin-bottom: 90px;
}
@media only screen and (max-width: 600px) {
  section.cabecalho-archive {
    margin-bottom: 130px;
  }
}
section.cabecalho-archive .cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #333333;
  border-radius: 8px;
  padding: 22px;
  position: absolute;
  width: calc(100% - 30px);
  margin-bottom: 48px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25px;
}
@media only screen and (max-width: 600px) {
  section.cabecalho-archive .cabecalho {
    width: calc(100% - 26px);
  }
}
section.cabecalho-archive .cabecalho .title-cabecalho {
  max-width: 75%;
}
@media only screen and (max-width: 600px) {
  section.cabecalho-archive .cabecalho .title-cabecalho {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
section.cabecalho-archive .cabecalho .title-cabecalho h1 {
  color: #ed686b;
  text-transform: uppercase;
}
section.cabecalho-archive .cabecalho .social-top {
  max-width: 50%;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
@media only screen and (max-width: 600px) {
  section.cabecalho-archive .cabecalho .social-top {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
}
section.cabecalho-archive .cabecalho .social-top a {
  transition: all 0.4s ease-in-out;
}
section.cabecalho-archive .cabecalho .social-top a:hover {
  transform: scale(1.1, 1.1);
}
section.cabecalho-archive .cabecalho .social-top a svg {
  fill: #fff;
}
section.cabecalho-archive .cabecalho .social-top a.btn-whatsapp-icon {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px 9px;
  background-color: #25d366;
  border-radius: 8px;
}
section.cabecalho-archive .cabecalho .social-top a.btn-social-icon {
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 6px;
}
section.cabecalho-archive .cabecalho .social-top a.btn-social-icon.telegram-icon {
  background-color: #30aae9;
}
section.cabecalho-archive .cabecalho .social-top a.btn-social-icon.facebook-icon {
  background-color: #4a68a8;
}
section.cabecalho-archive .cabecalho .social-top a.btn-social-icon.twitter-icon {
  background-color: #1da1f2;
}
section.cabecalho-archive .cabecalho .social-top a.btn-social-icon svg {
  max-width: 24px;
  margin: auto;
}

.post-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}
.post-item:hover .thumb img {
  border: 5px solid #ed686b;
}
.post-item .thumb {
  width: calc(40% - 12px);
}
@media only screen and (max-width: 600px) {
  .post-item .thumb {
    width: 100%;
  }
}
.post-item .thumb img {
  height: auto;
  border-radius: 8px;
  border: 5px solid transparent;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .post-item .thumb img {
    width: 100%;
    border: none;
  }
}
.post-item .text {
  width: calc(60% - 12px);
}
@media only screen and (max-width: 600px) {
  .post-item .text {
    width: 100%;
  }
}
.post-item .text h2 {
  color: #222222;
}
@media only screen and (max-width: 600px) {
  .post-item .text h2 {
    font-size: 16px;
    line-height: 22px;
  }
}
.post-item .text .data-info {
  margin-top: 16px;
  line-height: 1;
}
.post-item .text .data-info svg {
  display: inline;
  margin-right: 6px;
}
.post-item .text .data-info p {
  display: inline;
  color: #222222;
}
.post-item .text .data-info p time {
  margin-left: 6px;
}

.single .post-content figure {
  margin-bottom: 32px;
}
.single .post-content figure img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}
.single .post-content p {
  margin-bottom: 35px;
}
.single p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
}
.single .cabecalho-single {
  margin: 64px 0;
}
@media only screen and (max-width: 600px) {
  .single .cabecalho-single {
    margin: 32px 0;
  }
}
.single .cabecalho-single h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #222222;
  margin-bottom: 16px;
}
.single .cabecalho-single p.resumo {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.005em;
}
.single .cabecalho-single .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 16px;
  background-color: #e9e9e9;
  margin-top: 24px;
  border-radius: 8px;
}
.single .cabecalho-single .toolbar .data-info {
  margin-top: 16px;
  line-height: 1;
}
.single .cabecalho-single .toolbar .data-info svg {
  display: inline;
  margin-right: 6px;
}
.single .cabecalho-single .toolbar .data-info p {
  display: inline;
  color: #222222;
}
.single .cabecalho-single .toolbar .data-info p time {
  margin-left: 6px;
}
.single .cabecalho-single .toolbar .social-top {
  max-width: 50%;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
@media only screen and (max-width: 600px) {
  .single .cabecalho-single .toolbar .social-top {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
}
.single .cabecalho-single .toolbar .social-top a {
  transition: all 0.4s ease-in-out;
}
.single .cabecalho-single .toolbar .social-top a:hover {
  transform: scale(1.1, 1.1);
}
.single .cabecalho-single .toolbar .social-top a svg {
  fill: #fff;
}
.single .cabecalho-single .toolbar .social-top a.btn-whatsapp-icon {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px 9px;
  background-color: #25d366;
  border-radius: 8px;
}
.single .cabecalho-single .toolbar .social-top a.btn-social-icon {
  height: 32px;
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 6px;
}
.single .cabecalho-single .toolbar .social-top a.btn-social-icon.telegram-icon {
  background-color: #30aae9;
}
.single .cabecalho-single .toolbar .social-top a.btn-social-icon.facebook-icon {
  background-color: #4a68a8;
}
.single .cabecalho-single .toolbar .social-top a.btn-social-icon.twitter-icon {
  background-color: #1da1f2;
}
.single .cabecalho-single .toolbar .social-top a.btn-social-icon svg {
  max-width: 24px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .single .cabecalho-single .toolbar {
    gap: 16px;
  }
}
.single .cabecalho-single .toolbar .data-info {
  margin-top: 0;
}
@media only screen and (max-width: 600px) {
  .single .cabecalho-single .toolbar .data-info {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
}

.publi-container, .publi-container-single {
  background-color: #fafafa;
  padding: 10px 13.5px 16px 13.5px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .publi-container, .publi-container-single {
    margin-bottom: 40px;
  }
}
.publi-container p, .publi-container-single p {
  margin: 0 0 10px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 13.79px;
  font-weight: 400;
}
.publi-container .publi-card, .publi-container-single .publi-card {
  background-color: #d2d2d2;
  height: 600px;
  max-height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .publi-container-single {
    margin-bottom: 40px;
  }
}
.publi-container-single .publi-card {
  height: 300px;
}/*# sourceMappingURL=main.css.map */