@media only screen and (max-width: 600px) {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  .section-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  .feed-1-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
  }
  .feed-2-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .feed-3-font, .post-item .text h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  .feed-4-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .hat-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */